body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  }
  
  h1 {
    text-align: center;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 0;
  }
  
  .board {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #313131;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #999;
    margin: 5px;
    cursor: pointer;
    transition: background-color 1s ease-in;
  }
  .cell:hover {
    transform: scale(1.1);
  } 
  .dropping {
    animation: dropAnimation 0.2s;
  }
  
  @keyframes dropAnimation {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }
  
  .cell.red {
    background-color: red;
  }
  
  .cell.yellow {
    background-color: yellow;
  }
  .animated-piece {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  